<% content_for :content_header do %>
  <h1>
    Charakter
    <small><%= @Character[:core]['name'] %></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/guild">Gilde</a></li>
    <li><a href="/guild/members">Mitglieder</a></li>
    <li class="active">Charakter</li>
  </ol>
<% end %>
<div class="col-xs-12 col-md-8">
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-black" style="background: url('../dist/img/photo1.png') center center;">
      <h3 class="widget-user-username"><%= @Character[:core]['name'] %></h3>
      <h5 class="widget-user-desc"><%= @Character[:core]['profession'] %></h5>
    </div>
    <div class="widget-user-image">
      <img class="img-circle" src="<%= @Character[:icon] %>" alt="User Avatar">
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <!-- <h5 class="description-header"><%#= @Character[:core]['deaths'] %></h5> -->
            <!-- <span class="description-text">TODE</span> -->
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header"><%= @Character[:core]['deaths'] %></h5>
            <span class="description-text">TODE</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4">
          <div class="description-block">
            <!-- <h5 class="description-header"><%#= @Character[:core]['deaths'] %></h5>
            <span class="description-text">TODE</span> -->
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="box-story">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-4">
  <div class="box box-solid">
    <div class="box-header with-border">
      <i class="fa fa-user"></i>

      <h3 class="box-title"><%= @Character[:core]['name'] %></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <dl class="dl-horizontal">
        <dt>Rasse</dt>
        <dd><%= @Character[:core]['race'] %></dd>
        <dt>Klasse</dt>
        <dd><%= @Character[:core]['profession'] %></dd>
        <dt>Level</dt>
        <dd><%= @Character[:core]['level'] %></dd>
        <dt>Geburtstag</dt>
        <dd><%= (Date.strptime(@Character[:core]['created'])).strftime("%d.%m.%Y") %></dd>
        <dt>Alter</dt>
        <dd><% days = (Time.new() - DateTime.strptime(@Character[:core]['created']))/60/60/24 %><%= "#{(days/365).to_i} Jahre und #{(days%365).to_i} Tage" %></dd>
      </dl>
    </div>
    <!-- /.box-body -->
  </div>
</div>