<% content_for :content_header do %>
<h1>
  Enten Wars
  <small>Übersicht</small>
</h1>
<!-- <ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
  <li class="active">Here</li>
</ol> -->
<% end %>
<div class="col-md-8 col-xs-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Neuigkeiten</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <ul class="list-group">
        <% @Posts.each do |post|%>
        <li class="list-group-item">
          <a href="/posts/<%= post.id %>" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= post.title %></h5>
              <small><%= post.created_at.strftime("%d.%m.%Y - %T") %></small>
            </div>
            <p class="mb-1"><%= post.content.first(100)+"..." %></p>
            <small>von <%= post.member.nickname %></small>
          </a>

        </li>
        <% end %>
      </ul>
    </div>
    <!-- /.box-body -->
    <div class="box-footer text-center">
      <!-- <a href="javascript:void(0)" class="uppercase">View All Products</a> -->
    </div>
    <!-- /.box-footer -->
  </div>
</div>
<div class="col-xs-12 col-md-4">
  <!-- Custom Tabs -->
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <% for key in @DailyIDs.keys %>
        <% if @DailyIDs[key].count >= 1 %>
          <li class="<%= (key == @DailyIDs.keys.first)? 'active' : '' %>"><a href="#<%= key %>" data-toggle="tab" aria-expanded="<%= (key == @DailyIDs.keys.first)? 'true' : 'false' %>"><%= key %></a></li>
        <% end %>
      <% end %>
    </ul>
    <div class="tab-content">
      <% for key in @DailyIDs.keys %>
        <% if @DailyIDs[key].count >= 1 %>
          <div class="tab-pane <%= (key == @DailyIDs.keys.first)? 'active' : '' %>" id="<%= key %>">
            <ul class="list-group">
              <% @DailyIDs[key].each do |daily| %>
                <% d = @Dailies.select { |e| daily['id'] == e['id']  }.first %>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-xs-2">
                      <img class="pull-left" src="<%= d['icon'] %>">
                    </div>
                    <div class="col-xs-10">
                      <h4 class="list-group-item-heading"><%= d['name'] %></h4>
                      <p class="list-group-item-text"><%= (d['description'] != "")? d['description'] : d['requirement'] %></p>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- nav-tabs-custom -->
</div>