<% content_for :content_header do %>
  <h1>
    Gilde
    <small>Mitglieder</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/guild">Gilde</a></li>
    <li class="active">Mitglieder</li>
  </ol>
<% end %>

<% content_for :extra_scripts do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js" integrity="sha256-YFADoQJIYFj+isdXssMGUrmsVNbVDfN5m8jPgVN+9m4=" crossorigin="anonymous"></script>
  <script>
    $('.grid').masonry({
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    });
  </script>
<% end %>

<%#= @Members %>

<div class="grid">
  <div class="grid-sizer col-xs-6 col-sm-4 col-md-3"></div>
<% if @Members %>
  <% for member in @Members %>
  <div class="grid-item col-xs-12 col-sm-8 col-md-6">
      <!-- add inner element for column content -->
      <div class="grid-item-content">

        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header <%= (member['characters'])? "bg-yellow" : "" %>">
            <div class="widget-user-image">
              <img class="img-circle" src="/avatars/default.png">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username"><%= member['nickname'] || member['name'].split('.')[0] %></h3>
            <h5 class="widget-user-desc"><%= member['rank'] %></h5>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
              <% if member['characters'] %>
                <% member['characters'].each do |char| %>
                  <li><a href="<%= "/members/#{member['int_id']}/#{char}" %>"><%= char %></a></li>
                <% end %>
              <% else %>
                <li><a href="#">Keine Informationen</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>

<% end %>
</div>