<% content_for :content_header do %>
  <h1>
    Charakter
    <small><%= @Character[:core]['name'] %></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/">Enten Wars</a></li>
    <li class="active">Neuigkeit</li>
  </ol>
<% end %>
