<% content_for :content_header do %>
  <h1>
    Gilde
    <small>Schatzkammer</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/guild">Gilde</a></li>
    <li class="active">Schatzkammer</li>
  </ol>
<% end %>

<% content_for :extra_scripts do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js" integrity="sha256-YFADoQJIYFj+isdXssMGUrmsVNbVDfN5m8jPgVN+9m4=" crossorigin="anonymous"></script>
  <script>
    $('.grid').masonry({
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    });
  </script>
<% end %>

<div class="grid">
  <div class="grid-sizer col-xs-6 col-sm-4 col-md-3"></div>
  <% @Treasury.each do |needed| %>
    <% itemDetails = @Items.select {|item| item['id'] == needed['item_id'] }.first %>
    <div class="grid-item col-xs-12 col-sm-8 col-md-6">
      <!-- add inner element for column content -->
      <div class="grid-item-content">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">
              <img class="img-thumbnail img-circle" src="<%= itemDetails['icon'] %>" alt="">
              <%= itemDetails['name'] %>
            </h3>
            <span class="badge"><%= needed['count'] %></span>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <% max_need = 0 %>
            <ul class="list-group list-group-flush">
              <% needed['needed_by'].each do |upgrade| %>
                <% upgradeItemDetails = @Upgrades.select {|upg| upg['id'] == upgrade['upgrade_id'] }.first %>
                <li class="list-group-item" data-toggle="tooltip" data-placement="top" title="<%= upgradeItemDetails['description'] %>">
                  <%= upgradeItemDetails['name'] %>
                  <span class="badge pull-right"><%= upgrade['count'] %></span>
                </li>
                <% max_need += upgrade['count']  %>
              <% end %>
            </ul>
          </div><!-- /.box-body -->
          <%
          percent = needed['count']*100/max_need
          color = case percent
              when 0..10 then "progress-bar-red"
              when 11..69 then "progress-bar-yellow"
              when 70..99 then "progress-bar-blue"
              when 100 then "progress-bar-green"
            end
          %>
          <div class="box-footer">
            <div class="progress">
              <div class="progress-bar <%= color %>" role="progressbar" style="width: <%= "#{percent}%" %>" aria-valuenow="<%= needed['count'] %>" aria-valuemin="0" aria-valuemax="<%= max_need %>">
                <span class="progress-text"><%= "#{needed['count']}/#{max_need}" %></span>
              </div>
            </div><!-- ./progress -->
          </div><!-- /.box-footer -->
        </div><!-- /.box -->
      </div><!-- /.grid-item-content -->
    </div><!-- /.grid-item -->
  <% end %>
</div>



