<% content_for :content_header do %>
  <h1>
    Gilde
    <small>Aufwertungen</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/guild">Gilde</a></li>
    <li class="active">Aufwertungen</li>
  </ol>
<% end %>